<h1>Welcome to URL Lockbox!</h1>
<h2>Log In or Sign Up</h2>

<%= form_tag '/login' do %>

  Email: <%= text_field_tag :email %>
  Password: <%= password_field_tag :password %>
  <%= submit_tag "Submit" %>

<% end %>

<%= link_to "Sign Up", signup_path %>
