<h1>Signup!</h1>

<% if flash[:danger] %>
  <div class="danger"><%= flash[:danger] %></div>
<% end %>

<%= form_for @user do |f| %>

  Email: <%= f.text_field :email %>
  Password: <%= f.password_field :password %>
  Password Confirmation: <%= f.password_field :password_confirmation %>
  <%= f.submit "Submit" %>

<% end %>
